*{
    margin: 0;
}
.wrapper {
    width: 100%;
    background-color: #404040;
}

.container {
    width: 960px;
    margin: 0 auto;
}

header {
    height: 100px;
    background-color: #ccc;
}

nav {
   margin-top: 10px;
   height: 100px;
   background-color: #ccc;

}

.leftcolumn {
   background-color: yellow; 
   width: 650px;
   height: 500px;
   position: relative;
   margin-bottom: 200px;
}

#article {
    background-color: #404040;
    height: 390px;
    margin: 40px 30px 20px 50px;
    width: 520px;
    position: absolute;
}

.rightcolumn {
    width: 280px;
    height: 500px;
    background-color: green;
    margin-bottom: 200px;
 
}

.left {
    float: left;
}

.right {
   float: right;
}

footer {
    height: 100px;
    background-color: black;
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    width: 100%;
    color: white;
    text-align: center;

}